.idea
target/
.DS_Store
*.iml
*.ipr
*.iws
*.retry
######################
# Visual Studio Code #
######################
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
